/****************TAG SELECTORS******************/

body{
  background-color: #E9E5D6;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  width: 15%;
}

h1, h3 {
  color: #1C658C;
}

/****************CLASS SELECTORS******************/

.goldBG{
  background-color: gold;
}
